.container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-lg);
  align-items: center;
}

p {
  margin-top: 0;
} /* TODO */

.page__description {
  margin-top: 0;
  max-width: 800px;
  text-align: center;
}

.search {
  --search-border-radius: var(--border-radius-regular);
  --search-color: var(--color-generic-blue-light);
  --search-border-size: 3px;
  --search-height: 36px;
  display: flex;
  margin: var(--space-sm) var(--space-md);
}

.search * {
  height: var(--search-height);
}

.search__input {
  width: 400px;
  border: var(--search-border-size) solid var(--search-color);
  border-right: none;
  padding: var(--space-sm);
  border-radius: var(--search-border-radius) 0 0 var(--search-border-radius);
  outline: none;
  color: var(--search-color);
  color: var(--color-text-default);
}

.search__input:focus {
  color: var(--color-text-highlighted);
}

.search__button {
  width: 40px;
  border: var(--search-border-size) solid var(--search-color);
  background: var(--search-color);
  text-align: center;
  border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
  cursor: pointer;
  font-size: var(--text-size-md);
}

.search__button img {
  filter: brightness(0) invert(1);
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  padding: var(--space-xxs);
}

.search__random {
  margin-left: var(--space-md);
  background: none;
  border: none;
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  transition: all 0.5s;
}

.search__random:hover {
  transform: scale(1.3) rotate(360deg);
  cursor: pointer;
}

.search__random img:active,
.search__button img:active {
  transform: scale(1.2);
}

.pokemon {
  visibility: hidden; /*When no pokemon*/
  display: grid;
  max-width: 900px;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  min-height: 300px; /*TODO calc from header and view port height*/
}

.pokemon__picture {
  width: 350px;
  margin: var(--space-md);
  background-color: var(--color-background-element);
  border-radius: var(--border-radius-regular);
}

.pokemon__name {
  text-align: center;
}

.pokemon__properties {
  display: grid;
  font-size: var(--text-size-sm);
  grid-template-columns: 1fr 1fr;
  place-content: center;
  border-radius: var(--border-radius-regular);
  padding: var(--space-sm);
  background-color: #effcd5;
}

.pokemon__properties--value {
  font-weight: bold;
  color: var(--color-generic-blue-light);
}

.pokemon__type {
  margin-top: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.pokemon__type li {
  margin-left: 0;
  border-radius: var(--border-radius-regular);
  padding: var(--space-xs);
  margin: var(--space-xs);
  font-size: var(--text-size-md);
  background-color: #eef4ff;
  color: var(--color-generic-blue-light);
}
