.search {
  --search-border-radius: var(--border-radius-regular);
  --search-color: var(--color-generic-blue-light);
  --search-border-size: 3px;
  --search-height: 36px;
  display: flex;
  margin: var(--space-md);
}

.search * {
  height: var(--search-height);
}

.searchTerm {
  width: 400px;
  border: var(--search-border-size) solid var(--search-color);
  border-right: none;
  padding: var(--space-sm);
  border-radius: var(--search-border-radius) 0 0 var(--search-border-radius);
  outline: none;
  color: var(--search-color);
  color: var(--color-text-default);
}

.searchTerm:focus {
  color: var(--color-text-highlighted);
}

.searchButton {
  width: 40px;
  border: var(--search-border-size) solid var(--search-color);
  background: var(--search-color);
  text-align: center;
  border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
  cursor: pointer;
  font-size: var(--text-size-md);
}

.searchButton img {
  filter: brightness(0) invert(1);
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  padding: var(--space-xxs);
}

.randomSearchButton {
  margin-left: var(--space-md);
  background: none;
  border: none;
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  transition: all 0.5s;
}

.randomSearchButton:hover {
  transform: scale(1.3) rotate(360deg);
  cursor: pointer;
}

.randomSearchButton img:active,
.searchButton img:active {
  transform: scale(1.2);
}
