.container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-lg);
  align-items: center;
}

p {
  margin-top: 0;
} /* TODO */

.page__description {
  margin-top: 0;
  max-width: 800px;
  text-align: center;
}

.search {
  --search-border-radius: var(--border-radius-regular);
  --search-color: var(--color-generic-blue-light);
  --search-border-size: 3px;
  --search-height: 36px;
  display: flex;
  margin: var(--space-sm) var(--space-md);
}

.search * {
  height: var(--search-height);
}

.search__input {
  width: 400px;
  border: var(--search-border-size) solid var(--search-color);
  border-right: none;
  padding: var(--space-sm);
  border-radius: var(--search-border-radius) 0 0 var(--search-border-radius);
  outline: none;
  color: var(--search-color);
  color: var(--color-text-default);
}

.search__input:focus {
  color: var(--color-text-highlighted);
}

.search__button {
  width: 40px;
  border: var(--search-border-size) solid var(--search-color);
  background: var(--search-color);
  text-align: center;
  border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
  cursor: pointer;
  font-size: var(--text-size-md);
}

.search__button img {
  filter: brightness(0) invert(1);
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  padding: var(--space-xxs);
}

.search__random {
  margin-left: var(--space-md);
  background: none;
  border: none;
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  transition: all 0.5s;
}

.search__random:hover {
  transform: scale(1.3) rotate(360deg);
  cursor: pointer;
}

.search__random img:active,
.search__button img:active {
  transform: scale(1.2);
}

.pokemon {
  visibility: hidden; /* When no pokemon */
  display: grid;
  max-width: 900px;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  min-height: 300px; /*TODO calc from header and view port height*/
}

.pokemon__picture {
  width: 350px;
  margin: 0 var(--space-md) var(--space-md);
  background-color: var(--color-background-element);
  border-radius: var(--border-radius-regular);
}

.pokemon__name {
  text-align: center;
}

.pokemon__properties {
  display: grid;
  font-size: var(--text-size-sm);
  grid-template-columns: 1fr 1fr;
  place-content: center;
  border-radius: var(--border-radius-regular);
  padding: var(--space-sm);
  background-color: #effcd5;
}

.pokemon__properties--value {
  font-weight: bold;
  color: var(--color-generic-blue-light);
}

.pokemon__type {
  margin-top: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.pokemon__type li {
  margin-left: 0;
  border-radius: var(--border-radius-regular);
  padding: var(--space-xs);
  margin: var(--space-xs);
  font-size: var(--text-size-md);
  background-color: #eef4ff;
  color: var(--color-generic-blue-light);
}

.stats {
  --stroke-width: 17px;
  --dashoffset-hp: 0;
  --dashoffset-attack: 0;
  --dashoffset-defense: 0;
  --dashoffset-special-attack: 0;
  --dashoffset-special-defense: 0;
  --dashoffset-special-speed: 0;
  --stroke-dash-array: 276;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* min-width: 27.2rem; */
  margin: var(--space-md);
  flex-wrap: wrap;
}

.outer {
  padding: 0rem 1rem;
  transform: rotate(-90deg);
}

.stats__circle {
  position: relative;
}

.circle {
  fill: none;
  stroke-width: var(--stroke-width);
  stroke-dashoffset: var(--stroke-dash-array);
  stroke-dasharray: var(--stroke-dash-array);
}

.circle--grey {
  fill: none;
  stroke: rgba(128, 128, 128, 0.219);
  stroke-width: var(--stroke-width);
}

.stats__circle__text {
  font-size: var(--text-size-md);
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stats__circle__text__dimension {
  font-size: var(--text-size-xs);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.stats__circle__text__percents {
}

.circle--hp {
  stroke: #6bf8bd;
  animation: fill-hp 1.5s forwards ease-out;
}

@keyframes fill-hp {
  100% {
    stroke-dashoffset: var(--dashoffset-hp);
  }
}

.circle--attack {
  stroke: #f8b26b;
  animation: fill-attack 1.5s forwards ease-out;
}

@keyframes fill-attack {
  100% {
    stroke-dashoffset: var(--dashoffset-attack);
  }
}

.circle--defense {
  stroke: #f86b6b;
  animation: fill-defense 1.5s forwards ease-out;
}

@keyframes fill-defense {
  100% {
    stroke-dashoffset: var(--dashoffset-defense);
  }
}

.circle--special-attack {
  stroke: #f86bf8;
  animation: fill-special-attack 1.5s forwards ease-out;
}

@keyframes fill-special-attack {
  100% {
    stroke-dashoffset: var(--dashoffset-special-attack);
  }
}

.circle--special-defense {
  stroke: #6b8bf8;
  animation: fill-special-defense 1.5s forwards ease-out;
}

@keyframes fill-special-defense {
  100% {
    stroke-dashoffset: var(--dashoffset-special-defense);
  }
}

.circle--speed {
  stroke: #f8f86b;
  animation: fill-speed 1.5s forwards ease-out;
}

@keyframes fill-speed {
  100% {
    stroke-dashoffset: var(--dashoffset-speed);
  }
}
