.container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-lg);
  align-items: center;
}

.page__description {
  max-width: 800px;
  text-align: center;
}

.search {
  --search-border-radius: var(--border-radius-regular);
  --search-color: var(--color-generic-blue-light);
  --search-border-size: 3px;
  --search-height: 36px;
  display: flex;
  margin: var(--space-sm) var(--space-md);
}

.search * {
  height: var(--search-height);
}

.search__line {
  width: 400px;
  border: var(--search-border-size) solid var(--search-color);
  border-right: none;
  padding: var(--space-sm);
  border-radius: var(--search-border-radius) 0 0 var(--search-border-radius);
  outline: none;
  color: var(--search-color);
  color: var(--color-text-default);
}

.search__line:focus {
  color: var(--color-text-highlighted);
}

.search__button {
  width: 40px;
  border: var(--search-border-size) solid var(--search-color);
  background: var(--search-color);
  text-align: center;
  border-radius: 0 var(--search-border-radius) var(--search-border-radius) 0;
  cursor: pointer;
  font-size: var(--text-size-md);
}

.search__button img {
  filter: brightness(0) invert(1);
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  padding: var(--space-xxs);
}

.search__random {
  margin-left: var(--space-md);
  background: none;
  border: none;
  height: calc(var(--search-height) - var(--search-border-size) * 2);
  transition: all 0.5s;
}

.search__random:hover {
  transform: scale(1.3) rotate(360deg);
  cursor: pointer;
}

.search__random img:active,
.search__button img:active {
  transform: scale(1.2);
}

.pokemon__picture {
  background-color: var(--color-background-element);
  border-radius: var(--border-radius-regular);
}
