html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-default);
  font-family: var(--font-primary), var(--font-secondary);
  font-size: var(--text-size-default);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-text-highlighted);
  text-decoration: none;
}

.header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background: var(--color-generic-blue-light);
  font-family: var(--font-primary);
  font-size: var(--text-size-md);
}

.header a {
  color: var(--color-text-on-dark-background);
}

.header__section {
  display: flex;
  align-items: center;
}

.header__item {
  padding: var(--space-sm) var(--space-md);
}

.header__buttons {
  justify-content: space-between;
}

.headerlogo {
  justify-content: first baseline;
}

.header__picture {
  width: 125px;
}

.header__github {
  width: 55px;
  justify-self: flex-end;
}

.header__items {
  position: relative;
  display: inline-block;
  justify-content: space-between;
  padding: var(--space-md);
}

.header__items:hover .textwrapper {
  width: 100%;
}

.textwrapper {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  overflow: hidden;
  width: 0;
  white-space: pre;
  transition: width 700ms;
  border-bottom: 1px solid;
  border-color: var(--color-generic-yellow-light);
  padding-bottom: var(--space-xs);
}

.textwrapper a {
  color: var(--color-generic-yellow-light);
}

.header__git__animation {
  transition: 1s ease;
}
.header__git__animation:hover {
  -webkit-transform: rotateZ(20deg);
  transition: 1s;

  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

/* this one need to delete */
.smthingforex {
  height: 900px;
}

footer {
  width: 100%;
  background: var(--color-generic-yellow-light);
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}

.footer__social {
  display: inline-flex;
  padding-top: var(--space-xxxxs);
}

.footer__picture {
  width: 350px;
  margin: var(--space-lg);
}

/* */
footer ul {
  display: inline-flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer ul li {
  list-style: none;
}

footer ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: var(--text-size-md);
  margin: 0 var(--space-md);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
}

footer ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

footer ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

footer ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

footer ul li a:hover:before {
  top: 0;
}

footer ul li:nth-child(1) a:before {
  background: #3b5999;
}

footer ul li:nth-child(2) a:before {
  background: #55acee;
}

footer ul li:nth-child(3) a:before {
  background: #0077b5;
}

footer ul li:nth-child(4) a:before {
  background: #dd4b39;
}

.footer__mail {
  padding: var(--space-sm);
  margin: var(--space-sm);
}

.burger {
  display: flex;
}
/*background: var(--color-generic-blue-light);*/
label .menu {
  justify-self: flex-end;
  z-index: 100;
  width: 75px;
  height: 75px;
  background: var(--color-generic-yellow-light);
  border-radius: 0 0 0 100%;
  -moz-border-radius: 0 0 0 100%;
  -webkit-border-radius: 0 0 0 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--color-generic-blue-light),
    0 0 0 0 var(--color-generic-blue-light);
  cursor: pointer;
}

label .hamburger {
  position: relative;

  width: 30px;
  height: 2px;
  margin-top: 30px;
  margin-left: 30px;
  background: var(--color-generic-blue-light);
  display: flex;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-generic-blue-light);
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--color-generic-yellow-light),
    0 0 0 100vh var(--color-generic-yellow-light);
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  list-style-type: none;
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: var(--space-xs);
  display: block;
  text-decoration: none;
}

label .textwrapper {
  border-color: var(--color-generic-blue-light);
}
label .textwrapper a {
  color: var(--color-generic-blue-light);
}
label li {
  margin-top: var(--space-lg);
}
label li:hover .textwrapper {
  width: 100%;
}
